MULCHD_DATA_PATH=/data/mulch
MULCHD_DB_URL=asyncpg://USER:PASSWORD@postgres:5432/DBNAME
MULCHD_HOST=0.0.0.0
MULCHD_PORT=8000
# python -c "import secrets; print(secrets.token_hex(32))"
MULCHD_SECRET_KEY=
MULCHD_ADMIN_PASSWORD=
